<img src="../images/AzPTravel_PPM.png">

# Loss components Data source

Notes from DBM

Financial Comparison

IBNR - peice bu BY IBNR%

	Visual Graph
	Losses and Claim Ratio Comparison xBU UW % overall % IBNR of IBNR Finance AY  reported view. AY/PY
	Including PY runoff vs accident year


Plan. 
- Make data set in this document export to "Results Presentation" folder

- Use export that as a Thinkcell template, 
- have visuals in ppt

    
    
Next Week
Analysis Quality Vs Trends

# Specific data and trasformations

Euro File, make separate OCR and IBNR columns for all countries

Financial File make AY/PY by BU (may have this in the P&L document)

In [1]:
commit_message = "Development and testing."
# Give a brief reason for the run.

run_control = 1
#run_type = 0 - Lite run with no reporting, not recommended.
#run_type = 1 - Lite run with normal reporting, default setting.
#run_type = 2 - Heavy run with full reporting, available for audits and troubleshooting.
#run_type = 5 - A default setting. Indicates the script is being run by an outside process without an inherited value

percode = "2021.Q1"
# Data Collection Code, this controls file paths and output names
# "-f" is the value indicating a bad inheritance from run with arg

s_format = "p"
# denotes the source data format x == Excel; j == json, p == parquet

#----------
# do not edit - this either inherits the full instance timestamp from the papermill book or captures the run time of this script.
from datetime import datetime  # datetime options
inst_datetime = datetime.now().strftime("%m%d%Y%H%M%S")

#### Notebook display options

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### import packages

In [3]:
#### Packages used

import os # System commands
import sys # System commands

import warnings # custom warnigns options

import glob # Directory operations
import getpass # Work with parquet
import json # Work with json

import matplotlib.pyplot as plt #Plots and Graphs
import seaborn as sns #Plots and Graphs
import numpy as np # Series and math
import pandas as pd #DataFrame and math

#excel operations
import re
import nicexcel as nl # Excel operations
import xlsxwriter # Excel operations
import openpyxl # Excel operations

#Not sure, test if needed
import timeit

#### Default Variables, these govern logic, do not edit.

In [4]:
default_dc = "20XX.QX"
default_rc = 0 #extra lite mode
dummy_perc = "33Q3" # bad inheritance

#### Script determining run context ie, manual, run_control.ipynb, or other.

In [5]:
if run_control == 5:
    run_control = default_rc 
else:
    run_control = run_control

try:
    if sys.argv[1] == "-f":
        percode = percode
    else:
        percode = sys.argv[1]

except IndexError:
    percode = default_dc
except NameError:
    percode = default_dc


if percode == "2021.Q1":
    
     prev_percode = "2020.Q4"
     prev_yearcode = "2020.Q1"

elif percode == "2020.Q4":
    
     prev_percode = "2020.Q3"
     prev_yearcode = "2019.Q4"

elif percode == "2020.Q3":
    
     prev_percode = "2020.Q1"
     prev_yearcode = "none"    

elif percode == "2020.Q1":
    
     prev_percode = "2019.Q4"
     prev_yearcode = "none"

#### style settings

In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.float_format', lambda x: '%.5f' % x)


## Begin Input Read
- Make paths used in script
- all paths should be modular and easily replaced ahead of operations.

In [69]:
#root directory
rt_path = f'\\\\hecate\\Insurance_US\\Product Development\\Product Management\\Global PPM\\Reporting\Data Collection'

# Euro file dir
fin_source_path =current_path = os.path.join(rt_path ,percode,'Finance Report')

# Source file dir
current_path = os.path.join(rt_path ,"Production" , percode)

# Output file dir
output_path = os.path.join(rt_path ,percode,'Results Presentation')

#### Make sources used in script
- all sources should be modular and easily replaced ahead of operations.

In [70]:
fin_rep_file = os.path.join(fin_source_path,"Finance_Report.xlsx")

current_eur_file  = os.path.join(current_path  ,f'{percode}.euroconv.csv')

report_output   = os.path.join( output_path  ,f'ibnr_AY_PY_report.csv')

#### import data

In [10]:
fin_rep_df = pd.read_excel(fin_rep_file, sheet_name = "Finance_Report")


current_eur_df = pd.read_csv(current_eur_file , engine='python')

## Begin Transformations

-Make UW view

In [11]:
current_eur_df =current_eur_df.reset_index(drop=True)

In [12]:
current_eur_df['region']

0        North, Central & Eastern Europe
1        North, Central & Eastern Europe
2        North, Central & Eastern Europe
3        North, Central & Eastern Europe
4        North, Central & Eastern Europe
                      ...
12109                      North America
12110                      North America
12111                      North America
12112                      North America
12113                      North America
Name: region, Length: 12114, dtype: object

In [13]:
uw_view_cols = current_eur_df[['region','business_unit','country','earned_revenues_net_of_taxes','actual_incurred_losses_(paid_+_ocr_+_ibnr)', 'ocr_+_ibnr','%_of_ibnr_on_(ocr_+_ibnr)' ]]


#uw_view_cols.loc[0,"ibnr"] = uw_view_cols['ocr_+_ibnr'] * uw_view_cols['%_of_ibnr_on_(ocr_+_ibnr)'] #todo change to .iloc
uw_view_cols["ibnr"] = uw_view_cols['ocr_+_ibnr'] * uw_view_cols['%_of_ibnr_on_(ocr_+_ibnr)']

uw_view_cols["ocr"] = uw_view_cols['ocr_+_ibnr'] - uw_view_cols['ibnr']
uw_view_cols

C:\Users\gharmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gharmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,region,business_unit,country,earned_revenues_net_of_taxes,actual_incurred_losses_(paid_+_ocr_+_ibnr),ocr_+_ibnr,%_of_ibnr_on_(ocr_+_ibnr),ibnr,ocr
0,"North, Central & Eastern Europe",AT,AT,0.00000,-49247.04000,-52275.64000,-0.00345,180.36000,-52456.00000
1,"North, Central & Eastern Europe",AT,AT,0.00000,-100.00000,-100.00000,0.00000,-0.00000,-100.00000
2,"North, Central & Eastern Europe",AT,AT,0.00000,-1100.00000,-1100.00000,0.00000,-0.00000,-1100.00000
3,"North, Central & Eastern Europe",AT,AT,31328.10000,1940.94000,1142.94000,0.06293,71.92000,1071.02000
4,"North, Central & Eastern Europe",AT,AT,887.19000,-684.00000,-1084.00000,-0.01476,16.00000,-1100.00000
...,...,...,...,...,...,...,...,...,...
12109,North America,US,US,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
12110,North America,US,US,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
12111,North America,US,US,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
12112,North America,US,US,9.35931,0.10210,0.10210,1.00000,0.10210,0.00000
12113,North America,US,US,5.95593,0.06807,0.06807,1.00000,0.06807,0.00000

In [61]:
uw_view_view = uw_view_cols.groupby(['region','business_unit']).sum()

uw_view_view = uw_view_view.reset_index()

# #uw_view_view = uw_view_view['region'].ffill(inplace=True)

0                                APAC
1                       North America
2                       North America
3     North, Central & Eastern Europe
4     North, Central & Eastern Europe
5     North, Central & Eastern Europe
6     North, Central & Eastern Europe
7     North, Central & Eastern Europe
8         Western Europe, LATAM & MEA
9         Western Europe, LATAM & MEA
10        Western Europe, LATAM & MEA
11        Western Europe, LATAM & MEA
Name: region, dtype: object

-make fin view

In [47]:
fin_rep_df.columns

Index(['DC_BU_Code', 'BU_Desc_ Finance', 'BU_Desc', 'Total SGW', 'Total NER',
       'Commissions Acquis in %', 'Claims Costs (LAE & FA) in %',
       'FA Acquis in %', 'FA Acquis in % -Second', 'Non manageable in %',
       'Loss a.y', 'Loss ratio in %', 'Total Combined ratio in %',
       'Technical Result', 'Operating Profit', 'Combined Ratio Calculation',
       'Check'],
      dtype='object')

In [48]:
fin_rep_view = fin_rep_df[['DC_BU_Code', 'BU_Desc_ Finance', 'BU_Desc', 'Total NER', 'Loss a.y', 'Loss ratio in %']]

fin_rep_view['Losses AY - Euro'] = fin_rep_view['Loss a.y'] * fin_rep_view['Total NER']

fin_rep_view['Losses - Euro'] = fin_rep_view['Loss ratio in %'] * fin_rep_view['Total NER']

fin_rep_view['Losses PY - Euro'] = fin_rep_view['Losses - Euro']  - fin_rep_view['Losses AY - Euro'] 


fin_rep_view

C:\Users\gharmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\gharmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\gharmo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,DC_BU_Code,BU_Desc_ Finance,BU_Desc,Total NER,Loss a.y,Loss ratio in %,Losses AY - Euro,Losses - Euro,Losses PY - Euro
0,AU,BU Australia,Australia,6328.70000,0.31762,0.19540,2010.13000,1236.63000,-773.50000
1,CN,BU China,China,203.73000,0.09449,-0.27635,19.25000,-56.30000,-75.55000
2,NaN,BU Indonesia,Indonesia,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,NaN,BU India,India,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,NaN,BU Japan,Japan,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
5,NaN,BU Korea,Korea,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
6,MY,BU Malaysia,Malaysia,6.93000,0.00000,0.00000,0.00000,0.00000,0.00000
7,NZ,BU New Zealand,New Zealand,727.09000,1.90025,3.77750,1381.65000,2746.58000,1364.93000
8,SG,BU Singapore,Singapore,830.24000,0.01819,0.02328,15.10000,19.33000,4.23000
9,NaN,BU Thailand,Thailand,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
10,NaN,RIT,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
11,NaN,Elim APAC,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
12,NaN,Asia Pacific,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
13,CA,BU Canada,Canada,15865.99000,0.17981,0.07091,2852.80000,1125.05000,-1727.75000
14,US,BU United States,United States,98303.27000,0.18373,0.18769,18061.16000,18450.96000,389.80000
15,NaN,Elim Americas,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
16,NaN,Americas,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
17,NaN,BU Argentina,Argentina,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
18,BR,BU Brazil,Brazil,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
19,MX,BU Mexico,Mexico,1465.76000,0.00000,0.57812,0.00000,847.38000,847.38000
20,NaN,BU Chile,Chile,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
21,NaN,BU Colombia,Colombia,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
22,NaN,BU Peru,Peru,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
23,BE,BU Belgium,Belgium,3703.48000,0.22969,0.20531,850.67000,760.37000,-90.30000
24,NL,BU Netherlands,Netherlands,6488.24000,0.23530,0.05295,1526.66000,343.55000,-1183.11000
25,NB,BU Scandinavia,Scandinavia,-192.69000,-0.37117,-0.38367,71.52000,73.93000,2.41000
26,UK,BU United Kingdom,United Kingdom,5700.16000,0.28353,-0.02008,1616.19000,-114.45000,-1730.64000
27,NaN,BU Ireland,Ireland,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
28,ME,BU Middle East,Middle East,2608.12000,1.14793,0.64933,2993.93000,1693.53000,-1300.40000
29,FR,BU France,France,24208.84000,0.37182,0.30910,9001.34000,7483.05000,-1518.29000
30,NaN,BU GTS,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
31,NaN,BU SEPSAD,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
32,NaN,BU Reunion,Reunion,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
33,ES,BU Spain,Spain,793.31000,0.34461,-0.35289,273.38000,-279.95000,-553.33000
34,IT,BU Italy,Italy,1103.65000,0.47039,-0.03244,519.15000,-35.80000,-554.95000
35,PT,BU Portugal,Portugal,125.99000,0.16700,0.35757,21.04000,45.05000,24.01000
36,NaN,Western Europe Elim,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
37,NaN,Western Europe,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
38,CZ,BU Czech Republic,Czech Republic,373.89000,0.59384,-1.77734,222.03000,-664.53000,-886.56000
39,PL,BU Poland,Poland,3030.75000,0.44441,0.38270,1346.89000,1159.88000,-187.01000
40,NaN,BU Russia,Russia,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
41,DE,Germany,Germany,12261.00000,0.40511,0.32330,4967.00000,3964.00000,-1003.00000
42,CH,BU Switzerland,Switzerland,5886.15000,0.35887,0.13717,2112.35000,807.39000,-1304.96000
43,AT,BU Austria,Austria,4035.92000,0.35931,-0.12860,1450.14000,-519.00000,-1969.14000
44,GR,BU Greece,Greece,108.00000,0.15741,-0.29630,17.00000,-32.00000,-49.00000
45,NaN,BU Turkey,Turkey,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
46,NaN,Eastern Europe Elim,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
47,NaN,Eastern Europe,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
48,NaN,NaN,NaN,nan,0.00000,0.00000,nan,nan,nan

- Merge 2 frames

In [51]:
uw_view_view

In [63]:
reporting_view = uw_view_view.merge( fin_rep_view ,how='left', left_on='business_unit', right_on='DC_BU_Code')

reporting_view

,region,business_unit,earned_revenues_net_of_taxes,actual_incurred_losses_(paid_+_ocr_+_ibnr),ocr_+_ibnr,%_of_ibnr_on_(ocr_+_ibnr),ibnr,ocr,DC_BU_Code,BU_Desc_ Finance,BU_Desc,Total NER,Loss a.y,Loss ratio in %,Losses AY - Euro,Losses - Euro,Losses PY - Euro
0,APAC,AU,9332572.90584,1811872.66040,1566895.01430,15.11334,296841.85717,1270053.15713,AU,BU Australia,Australia,6328.70000,0.31762,0.19540,2010.13000,1236.63000,-773.50000
1,North America,CA,7906948.34916,4417080.28482,2695318.52046,-5.92243,-938989.76887,3634308.28933,CA,BU Canada,Canada,15865.99000,0.17981,0.07091,2852.80000,1125.05000,-1727.75000
2,North America,US,99445310.13358,15936436.73105,6999372.96010,8306.09717,1973474.79393,5025898.16617,US,BU United States,United States,98303.27000,0.18373,0.18769,18061.16000,18450.96000,389.80000
3,"North, Central & Eastern Europe",AT,3972800.09106,547225.21659,-555618.30287,-17.68921,53391.25539,-609009.55826,AT,BU Austria,Austria,4035.92000,0.35931,-0.12860,1450.14000,-519.00000,-1969.14000
4,"North, Central & Eastern Europe",CH,31246379.71907,5470941.93045,575897.07300,0.00000,0.00000,575897.07300,CH,BU Switzerland,Switzerland,5886.15000,0.35887,0.13717,2112.35000,807.39000,-1304.96000
5,"North, Central & Eastern Europe",CZ,387392.03675,274986.98315,0.00000,0.00000,0.00000,0.00000,CZ,BU Czech Republic,Czech Republic,373.89000,0.59384,-1.77734,222.03000,-664.53000,-886.56000
6,"North, Central & Eastern Europe",GR,109622.52000,19892.67000,18845.84000,0.00000,0.00000,18845.84000,GR,BU Greece,Greece,108.00000,0.15741,-0.29630,17.00000,-32.00000,-49.00000
7,"North, Central & Eastern Europe",PL,3802680.99072,1314106.44988,403202.76475,2.20180,83722.80189,319479.96286,PL,BU Poland,Poland,3030.75000,0.44441,0.38270,1346.89000,1159.88000,-187.01000
8,"Western Europe, LATAM & MEA",ES,736249.62000,148353.17357,127311.18357,0.00000,0.00000,127311.18357,ES,BU Spain,Spain,793.31000,0.34461,-0.35289,273.38000,-279.95000,-553.33000
9,"Western Europe, LATAM & MEA",IT,1018290.12960,174740.80001,102761.25001,3.10756,5973.37063,96787.87938,IT,BU Italy,Italy,1103.65000,0.47039,-0.03244,519.15000,-35.80000,-554.95000
10,"Western Europe, LATAM & MEA",NL,6493684.00000,312897.00000,-270669.00000,-108.40500,278434.07100,-549103.07100,NL,BU Netherlands,Netherlands,6488.24000,0.23530,0.05295,1526.66000,343.55000,-1183.11000
11,"Western Europe, LATAM & MEA",PT,46333.13658,9718.39000,7997.55000,0.00000,0.00000,7997.55000,PT,BU Portugal,Portugal,125.99000,0.16700,0.35757,21.04000,45.05000,24.01000

- export to csv

In [71]:
reporting_view.to_csv(report_output, ',', index=False, encoding='utf-8-sig')